MercadoCapitales/.vs/ProjectEvaluation/mercadocapitales.metadata.v5.1
MercadoCapitales/.vs/ProjectEvaluation/mercadocapitales.projects.v5.1
MercadoCapitales/.vs/MercadoCapitales/FileContentIndex
GestorMercadoCapitales/GestorMercadoCapitales/obj
MercadoCapitales
GestorMercadoCapitales/.vs/GestorMercadoCapitales/FileContentIndex
MercadoCapitales/.vs/MercadoCapitales/v17/.suo
GestorMercadoCapitales/GestorMercadoCapitales/bin
GestorMercadoCapitales/GestorMercadoCapitales/obj
GestorMercadoCapitales/.vs/GestorMercadoCapitales/v17/.suo
GestorMercadoCapitales/.vs/GestorMercadoCapitales/DesignTimeBuild
GestorMercadoCapitales/.vs/GestorMercadoCapitales/config/applicationhost.config
GestorMercadoCapitales/GestorMercadoCapitales/obj
GestorMercadoCapitales/.vs/GestorMercadoCapitales/v15/Server/sqlite3/db.lock
GestorMercadoCapitales/.vs
GestorMercadoCapitales/GestorMercadoCapitales/bin
GestorMercadoCapitales/GestorMercadoCapitales/obj
MercadoCapitales/.vs
MercadoCapitales/MercadoCapitales.API.Clientes/obj
MercadoCapitales/MercadoCapitales.API.Ordenes/obj
MercadoCapitales/MercadoCapitales.API.Precios/obj
MercadoCapitales/MercadoCapitales.API.Clientes/appsettings.json
