MercadoCapitales/.vs/MercadoCapitales/DesignTimeBuild/.dtbcache.v2
GestorMercadoCapitales/.vs/GestorMercadoCapitales/config/applicationhost.config
MercadoCapitales/.vs
MercadoCapitales/MercadoCapitales.API.Clientes/obj/Debug/netcoreapp3.1/MercadoCapitales.API.Clientes.assets.cache
MercadoCapitales/MercadoCapitales.API.Clientes/obj
MercadoCapitales/MercadoCapitales.API.Especies/obj
MercadoCapitales/MercadoCapitales.API.Ordenes/obj
