MercadoCapitales/.vs/MercadoCapitales/DesignTimeBuild/.dtbcache.v2
GestorMercadoCapitales/.vs/GestorMercadoCapitales/config/applicationhost.config
MercadoCapitales/.vs
GestorMercadoCapitales/.vs/GestorMercadoCapitales/v17/.suo
*.v2
*.vsidx
*.vsidx
GestorMercadoCapitales/.vs/GestorMercadoCapitales/v17/.suo
*.dll
*.pdb
GestorMercadoCapitales/GestorMercadoCapitales/bin/Debug/netcoreapp3.1/GestorMercadoCapitales.Views.dll
GestorMercadoCapitales/GestorMercadoCapitales/bin/Debug/netcoreapp3.1/GestorMercadoCapitales.Views.pdb
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/GestorMercadoCapitales.csproj.CoreCompileInputs.cache
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/GestorMercadoCapitales.csproj.FileListAbsolute.txt
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/GestorMercadoCapitales.dll
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/GestorMercadoCapitales.pdb
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/GestorMercadoCapitales.RazorCoreGenerate.cache
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/GestorMercadoCapitales.Views.dll
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/GestorMercadoCapitales.Views.pdb
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/project.razor.vs.json
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/Razor/Views/Login/ConfirmaOlvideClave.cshtml.g.cs
GestorMercadoCapitales/GestorMercadoCapitales/obj/Debug/netcoreapp3.1/Razor/Views/MtbaRfx/Futuros_Financieros.cshtml.g.cs
*.cache
*.props
*.v2
*.v2
*.v2
*.v2
MercadoCapitales/JwtAuthenticationManager/bin
MercadoCapitales/AuthenticationWebApi/obj
MercadoCapitales/MercadoCapitales.API.Especies/obj
MercadoCapitales/MercadoCapitales.API.Ordenes/obj
MercadoCapitales/JwtAuthenticationManager/obj
