@{
    ViewData["Title"] = "Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-bottom: 48px; padding-top: 32px;">
    <h1>perfil del inversor</h1>
</div>

<div>
    @switch (2)
    {
       @* case 1:
            {
                            <div class="resultado-perfil-conservador">
                                <div style="padding-left: 38px; padding-right: 29px; padding-top: 32px; padding-bottom: 51px;">
                                    <div style="margin-bottom: 24px;">
                                        <span style="font-family: Arial; font-weight: 300; font-size: 32px; color: #231D19">tú perfil de inversionista es</span>
                                        <br />
                                        <br />
                                        <span style="font-family: ItauDisplay_Bold; font-weight: 700; font-size: 32px; color: #0181C2">@ViewBag.Resultado</span>
                                    </div>
                                    <hr />
                                    <div style="margin-top: 32px;">
                                        <span style="font-family: Arial; font-weight: 300; font-size: 24px; color: #231D19">
                                            Quisiera preservar mi inversión.
                                            <br />
                                            Estoy dispuesto a buscar retornos similares a las tasas de interés de las inversiones tradicionales a plazo
                                        </span>
                                    </div>
                                </div>
                            </div>
            }
            break;*@
        case 2:
            {
                            <div class="resultado-perfil-moderado">
                                <div style="padding-left: 38px; padding-right: 29px; padding-top: 32px; padding-bottom: 51px;">
                                    <div style="margin-bottom: 24px;">
                                     <span style="font-family: Arial; font-weight: 300; font-size: 32px; color: #white">tú perfil de inversionista es</span>
                                        <br />
                                        <br />
                                        <span style="font-family: ItauDisplay_Bold; font-weight: 700; font-size: 32px; color: #003499">@ViewBag.Resultado</span>
                                    </div>
                                    <hr />
                                    <div style="margin-top: 32px;">
                                        <span style="font-family: Arial; font-weight: 300; font-size: 24px; color: white;">
                                            Estoy dispuesto a aceptar pequeñas fluctuaciones negativas (posible pérdida en mi inversión inicial),
                                            para buscar retornos superiores a las tasas de interés de las inversiones tradicionales a plazo.
                                        </span>
                                    </div>
                                </div>
                            </div>
            }
            break;
       @* case 3:
            {
                            <div class="resultado-perfil-agresivo">
                                <div style="padding-left: 38px; padding-right: 29px; padding-top: 32px; padding-bottom: 51px;">
                                    <div style="margin-bottom: 24px;">
                                        <span style="font-family: Arial; font-weight: 300; font-size: 32px; color: #231D19">tú perfil de inversionista es</span>
                                        <br />
                                        <br />
                                        <span style="font-family: ItauDisplay_Bold; font-weight: 700; font-size: 32px; color: #003667">@ViewBag.Resultado</span>
                                    </div>
                                    <hr />
                                    <div style="margin-top: 32px;">
                                        <span style="font-family: Arial; font-weight: 300; font-size: 24px; color: #231D19">
                                            Quisiera preservar mi inversión.
                                            <br />
                                            Estoy dispuesto a buscar retornos similares a las tasas de interés de las inversiones tradicionales a plazo
                                        </span>
                                    </div>
                                </div>
                            </div>
            }
            break;*@
    }

    <br />
    <br />
    <br />

    <div class="row" style="padding-bottom: 48px;">
        <div class="col-sm-5">
            @Html.ActionLink("rehacer prueba de perfil", "Index", "Encuesta_Inversor", new { }, new { @class = "btn btn-default" })
        </div>
        <div class="col-sm-2" style="text-align: right">
            @using (Html.BeginForm())
            {
                    <input type="submit" value="empezar a invertir" class="btn btn-success" />
            }
        </div>
    </div>
</div>