@model StartRecoveryData

<div class="alert alert-info" role="alert">
    Cambio de clave exitoso, favor verifique su bandeja de entrada.<br>
    <b>Mail Registrado: @Model.Email</b><br>
    <a asp-area="" class="btn btn-primary" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">Volver</a>
</div>
