
@using (Html.BeginForm("CompraInstrumento", "MtbaRfx"))
{

<div>

    <table>
        <tr>
            <td>Cuenta: REM7609</td>
            <td></td>
            <td>
                Instrumento:
                    <select style="color:black" name="symbol">
                    @if (PanelInferiorInstrumentos.Instrumentos != null)
                    {
                        @foreach (var secuencia in PanelInferiorInstrumentos.Instrumentos)
                        {
                            <option value="@secuencia">@secuencia</option>
                        }

                    }
                </select>
            </td>
            <td>Precio: <input type="text" name="Precio" style="color:black;" /> </td>
             <td>Cantidad: <input type="number" name="cantidad" /></td>
            <td><input type="submit" class="btn btn-info" value="Comprar"/></td>
        </tr>
    </table>
</div>

}