

<div class="alert alert-info" role="alert">
    Compra realizada con éxito, favor verifiquelo en el histórico
    <a asp-area="" class="btn btn-primary" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">Volver</a>
</div>