
@using (Html.BeginForm("CompraInstrumento", "MtbaRfx"))
{

<div>

       
    <table>
        <tr>
            <td>Cuenta: REM7609</td>
            <td></td>
            <td>
                Instrumento:
                    <select style="color:black" name="symbol">
                    @if (PanelInferiorInstrumentos.Instrumentos != null)
                    {
                        @foreach (var secuencia in PanelInferiorInstrumentos.Instrumentos)
                        {
                            <option value="@secuencia">@secuencia</option>
                        }

                    }
                </select>
            </td>
            <td>Precio: <input type="text" name="Precio" style="color:black;" /> </td>
                <td>Cantidad: <input type="number" name="cantidad" style="color:black;" /></td>
                <td>Tipo Op:<br><input type="radio" name="TipoOp" value="Compra" checked="checked" />Compra<br /><input type="radio" name="TipoOp" value="Venta" />Venta</td>
            <td><input type="submit" class="btn btn-info" value="Solicitar"/></td>
        </tr>
    </table>
</div>

}