 
    <a asp-area="" class="btn btn-light" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">FUT.FIN</a>
    <a asp-area="" class="btn btn-light" asp-controller="MtbaRfx" asp-action="opciones_financieras">OP.FIN</a>
    <a asp-area="" class="btn btn-light" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">FUT.AGRO</a>
    <a asp-area="" class="btn btn-light" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">OP.AGRO</a>

@*<nav class="navbar navbar-custom navbar-light navbar-expand-md justify-content-center">
    <button class="navbar-toggler ml-1"
            type="button"
            data-toggle="collapse"
            data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100"
         id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item">
                <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">FUT.FIN</a>
            </li>
            <li class="nav-item">
                <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="opciones_financieras">OP.FIN</a>
            </li>
            <li class="nav-item">
                <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">FUT.AGRO</a>
            </li>
            <li class="nav-item">
                <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">OP.AGRO</a>
            </li>
        </ul>
    </div>
</nav>
*@



@*<body>
    

  <nav class="navbar navbar-default" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
         para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-ex1-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
         otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">FUT.FIN</a>
          </li>
      </ul>
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="opciones_financieras">OP.FIN</a>
         </li>
      </ul>
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item">
                    <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">FUT.AGRO</a>
           </li>
      </ul>
            <ul class="navbar-nav mx-auto text-center">
         <li class="nav-item">
                    <a asp-area="" class="nav-link" asp-controller="MtbaRfx" asp-action="Futuros_Financieros">OP.AGRO</a>
        </li>
      </ul>
    </div>
  </nav>
</body>*@

