
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-2">
        <a asp-area="" asp-controller="Home" class="btn btn-light" style="width:100%;" asp-action="Inicio">Ingreso de Dinero</a>
    </div>
    <div class="col-lg-4">
        <a asp-area="" asp-controller="Home" class="btn btn-success" style="width:100%;" asp-action="Inicio">Invertir</a>
    </div>
    <div class="col-lg-2">
        <a asp-area="" asp-controller="Home" class="btn btn-light" style="width:100%;" asp-action="Inicio">Egreso de Dinero</a>
    </div>
    <div class="col-lg-2">
        <a asp-area="" asp-controller="Home" class="btn btn-light" style="width:100%;" asp-action="Inicio">Comprá Dólar</a>
    </div>
    <div class="col-lg-2">
        <a asp-area="" asp-controller="Home" class="btn btn-light" style="width:100%;" asp-action="Inicio">Vendé Dólar</a>
    </div>
</div>

<br/>
<hr>
<div class="row">
    <div class="col-lg-4">
        <b>Total de la Cuenta 30640</b><br>
        <b>Pesos: ARS 84.195,21</b><br>
        Disponibles: ARS - 1.829,04<br>
        A Liquidar: ARS - 86.024,25
    </div>
    <div class="col-lg-4">
        <b>Dólares: USD 2.850,50</b><br>
        Precio del dólar: 329,56 (ARS 939.409,81)<br>
        Disponibles: USD 0,25<br>
        A Liquidar: USD - 2.850,25<br />
        <b>Comprometido: USD 2.739,69</b>
    </div>
    <div class="col-lg-2">
        <b>Dólar Cable: USD 0,00</b><br>
        Precio del dólar cable: 336,63 (ARS 0,00)<br>
    </div>
    <div class="col-lg-2">
        ARS 1.370.050,02<br>
        Mis Inversiones: ARS 346.445,00
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
      Producto
    </div>
    <div class="col-lg-2">
      Cantidad
    </div>
    <div class="col-lg-2">
      Ultimo Precio
    </div>
    <div class="col-lg-2">
      
    </div>
</div>


